# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileType: OTHER

root = true

[{cache,output,gradlew,gradlew.bat,.git,.gradle,.ash_history}]
ignore = true

[*.{jar,apk,bin,exe}]
ignore = true

[*]
charset = utf-8
end_of_line = lf

indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

max_line_length = 80
quote_type = single
curly_bracket_next_line = true

shell_variant = posix
switch_case_indent = true
space_redirects = true
function_next_line = true

[*.bat]
end_of_line = crlf

[*.{xml,json}]
indent_size = 4

[*.{yml,yaml,rst,md,json}]
quote_type = double

[zip-content/customize.sh]
keep_padding = true

[{includes/common.sh,recovery-simulator/recovery.sh}]
shell_variant = bash
