# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileType: OTHER

# Custom project folders
cache/
output/

# Custom caches
.apt-cache/

# Files for the ART/Dalvik VM
*.dex

# Gradle files
.gradle/
build/
user.gradle

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log
