* text=auto

*.bin           binary
*.apk           binary
*.jar           binary
*.png           binary
*.jpg           binary

*.gitattributes text eol=lf
*.gitignore     text eol=lf
*.gitmodules    text eol=lf

gradlew         text eol=lf
*.gradle        text eol=lf
*.properties    text eol=lf

*.yml           text eol=lf
*.conf          text eol=lf
*.sh            text eol=lf
*.ash           text eol=lf
*.bash          text eol=lf
*.py            text eol=lf
*.xml           text eol=lf

*.rst           text eol=lf
*.md            text eol=lf

*.bat           text eol=crlf
