# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

# Files to always ignore
/coverage/
/.ssh/
/.ash_history
/.bash_history
/.wget-hsts
/.lesshst
*.log
*.sarif
*.dex

# Caches
/.cache/
/.git/
__pycache__/
.DS_Store
desktop.ini
Thumbs.db

# VS Code files
/.vscode/launch.json

# Gradle files
/.gradle/
/build/

# Local Gradle configuration files
local.properties
user.gradle

# Local files to ignore
.debug/
.local/
/local/
/build
/cmdline

# Custom project folders
/cache/
/output/
/recovery-simulator/output/
/utils/data/
