# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileType: OTHER

# Custom project folders
local/
cache/
utils/data/
output/
recovery-simulator/output/

# Gradle files
.gradle/
build/
user.gradle

# VS Code files
.vscode/launch.json

# Local configuration files
local.properties

# Code scanning, log and other files
*.log
*.sarif
*.dex
.ash_history
.bash_history
coverage
.wget-hsts

# Caches and other files
__pycache__/
Thumbs.db
.DS_Store
desktop.ini
