# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0

ale5000 <15793015+ale5000-git@users.noreply.github.com> <ale5000-git@users.noreply.github.com>
ale5000 <15793015+ale5000-git@users.noreply.github.com> <920414-ale5000-git@users.noreply.gitlab.com>
