---
# SPDX-FileCopyrightText: (c) 2021 ale5000
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileType: SOURCE
name: "Base"
on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:
jobs:
  base-job:
    name: "Coverage and testing"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out code"
        uses: actions/checkout@v3
      - name: "Set up Java"
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: "Set up Ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
      - name: "Install Bashcov and Codecov"
        run: |
          # Installing Bashcov and Codecov...
          gem install bashcov codecov
      - name: "Execute code coverage"
        id: "coverage"
        run: |
          # Executing code coverage...
          sudo apt-get -qq -y install moreutils 1>/dev/null
          export OPENSOURCE_ONLY='true'
          bashcov './build.sh' | TZ=UTC ts '[%H:%M:%S]'
          # Testing zip installation...
          bash './recovery-simulator/recovery.sh' ./output/*.zip
          printf '\n\n'
          echo '==============='
          echo 'RECOVERY OUTPUT'
          echo '==============='
          cat './recovery-simulator/output/recovery-output.log'
      - name: "SHA256"
        if: "${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}"
        run: |
          # SHA256...
          sha256_hash='${{ steps.coverage.outputs.sha256_hash }}'
          echo "::notice::${sha256_hash:?}"
      - name: "Upload artifacts"
        if: "${{ github.ref == 'refs/heads/main' }}"
        uses: actions/upload-artifact@v3
        with:
          name: "microG unofficial installer OSS build (extract it)"
          path: "output/*.zip*"
          retention-days: 7
      - name: "Upload reports to Codecov"
        uses: codecov/codecov-action@v3
        with:
          files: "${{ github.workspace }}/coverage/codecov-result.json"
