---
# SPDX-FileCopyrightText: (c) 2025 ale5000
# SPDX-License-Identifier: GPL-3.0-or-later

name: "Dependency submission"
permissions: {}
on:
  push:
    branches:
      - "main"

jobs:
  base-job:
    name: "Base"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: "Checkout sources"
        uses: actions/checkout@v4
      - name: "Setup Java"
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - name: "Generate and submit dependency graph"
        uses: gradle/actions/dependency-submission@v4
