---
# SPDX-FileCopyrightText: (c) 2021 ale5000
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileType: SOURCE
name: "Periodic checks"
permissions: {}
on:
  push:
    paths:
      - "gradle/wrapper/gradle-wrapper.jar"
      - ".reuse/dep5"
      - "**codecov.yml"
  pull_request:
    paths:
      - "gradle/wrapper/gradle-wrapper.jar"
      - ".reuse/dep5"
      - "**codecov.yml"
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  base-job:
    name: "Base job"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out code"
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      - name: "Gradle Wrapper validation"
        uses: gradle/wrapper-validation-action@v1
      - name: "Validate Codecov configuration"
        shell: bash
        run: |
          # Validating Codecov configuration
          codecovyml_path='${{ github.workspace }}/.codecov.yml'
          if test -f "${codecovyml_path}"; then
            status='0'
            wget -qO- --post-file "${codecovyml_path:?}" https://codecov.io/validate || status="${?}"
            if test "${status:?}" -eq 0; then echo 'Result: pass'; else echo 'Result: fail'; exit "${status:?}"; fi
          fi
          codecovyml_path='${{ github.workspace }}/codecov.yml'
          if test -f "${codecovyml_path}"; then
            status='0'
            wget -qO- --post-file "${codecovyml_path:?}" https://codecov.io/validate || status="${?}"
            if test "${status:?}" -eq 0; then echo 'Result: pass'; else echo 'Result: fail'; exit "${status:?}"; fi
          fi

  dep5-validator:
    name: "Validate dep5"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out code"
        uses: actions/checkout@v4
      - name: "Validate dep5"
        shell: bash
        run: |
          # Validating dep5
          if ! test -e './.reuse/dep5'; then exit 0; fi
          sudo apt-get -qq update
          sudo apt-get -qq -y install cme 1> /dev/null
          status='0'
          cme check dpkg-copyright -file './.reuse/dep5' || status="${?}"
          if test "${status:?}" -eq 0; then echo 'Result: pass'; else echo 'Result: fail'; exit "${status:?}"; fi
